body {
    font: 11px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .dot {
    stroke: #808080;
  }
  
  div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 40px;
    font: 11px sans-serif;	
    background: #808080;
    pointer-events: none;
}